@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(90deg, #f0d4ba, #ffffff);
  font-family: "Roboto", sans-serif;
  padding: 10%;
}

input {
  margin-left: 5px;
  margin-bottom: 8px;
  min-width: 10px;
}

label {
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

#weight {
  display: block;
  max-width: 400px;
  width: 70%;
  margin: 40px auto;
}

input {
  flex-grow: 1;
  text-align: center;
  font-size: 3.5rem;
}

/* --- Heading Styles --- */
h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  margin: 5px 0;
}

h3:before,
h3:after {
  background-color: #ddd;
  content: "\a0";
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.6rem;
}

h3:before {
  margin-right: 10px;
}

h3:after {
  margin-left: 10px;
}
